/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 23, 2018, 3:56:14 PM
    Author     : Bernard Kapinda
*/

html,body{
    background: url(imf.PNG) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
    height: 100%;
    overflow: hidden;
}